
<mat-card class="example-card" (mouseenter)="showButtons = true" (mouseleave)="showButtons = false">
        <mat-card-content>
                <mat-card-title class="title">{{Note.title}}</mat-card-title>
                <div mat-card-avatar style="margin-top: -25px;">
                        <mat-icon *ngIf="Note.priority === 'Critical'" style="color: #3f51b5;">gpp_maybe</mat-icon>
                        <mat-icon *ngIf="Note.priority === 'High'" style="color: #fa407e;">arrow_circle_up</mat-icon>
                        <mat-icon *ngIf="Note.priority === 'Medium'" style="color: #3f51b5;;">remove_circle_outline</mat-icon>
                        <mat-icon *ngIf="Note.priority === 'Low'" style="color: #fa407e;">arrow_circle_down</mat-icon>
                </div>
                <mat-card-subtitle class="dpara">{{Note.reminderDate}}</mat-card-subtitle>
                <mat-card-content class="para">{{Note.content}}</mat-card-content>
                <mat-chip-list>
                        <mat-chip>{{ Note.category }}</mat-chip>
                </mat-chip-list>
        </mat-card-content>
        <mat-card-actions *ngIf="showButtons">
                <button mat-icon-button color="primary"> <mat-icon>comment</mat-icon> </button>
                <button mat-icon-button color="primary" routerLink="../note-edit/{{Note.id}}"> <mat-icon>edit</mat-icon> </button>
                <button mat-icon-button color="primary" (click)="deleteIt()"> <mat-icon>delete</mat-icon> </button>
                <button mat-icon-button color="warn"> <mat-icon>notifications</mat-icon> </button>
        </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
<!-- <mat-card class="example-card">
        <mat-card-header>
                <mat-card-title>{{Note.title}}
                        <button *ngIf="Note?.priority==='Critical'" color="accent" mat-icon-button>
                                <mat-icon>gpp_maybe</mat-icon>
                        </button>
                        <button *ngIf="Note?.priority==='High'" color="accent" mat-icon-button>
                                <mat-icon>arrow_circle_up</mat-icon>
                        </button>
                        <button *ngIf="Note?.priority==='Medium'" color="primary" mat-icon-button>
                                <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <button *ngIf="Note?.priority==='Low'" color="primary" mat-icon-button>
                                <mat-icon>arrow_circle_down</mat-icon>
                        </button>
                </mat-card-title>
                <mat-card-subtitle>{{Note.remindDate}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <p>{{Note.content}}</p>
                <p id="category">{{Note.category}}</p>
        </mat-card-content>
</mat-card> -->