<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'nav-bar'" [mode]="'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon class="icon">home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/register-new-user">
        <mat-icon class="icon">add</mat-icon>New Note
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon">archive</mat-icon>Archive
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon">settings</mat-icon>Settings
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-header></app-header>
    </mat-toolbar>
    <div>
      <!-- <app-register-form></app-register-form>
      <app-note-view></app-note-view> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>